.modal-background {
    position: absolute;
    left: 0;
    right: 0;
    bottom: 0;
    height: 100%;
    width: 100%;
    background-color: #000000ca;
    z-index: 99;
    opacity: 0;
    transition: all .3s;
    user-select: pointer;
    visibility: hidden;
}

.modal-background-open {
    opacity: 1;
    visibility: visible;
}

.sliding-container {
    z-index: 100;
    position: absolute;
    left: 0;
    right: 0;
    bottom: 0;
    height: 100%;
    width: 100%;
    display: flex;
    transform: translateY(100%);
    transition: all .3s;
    align-self: center;
    visibility: hidden;
}

.sliding-container-open {
    transform: translateY(0);
    visibility: visible;
}

.clickable-background {
    height: 100%;
    width: 100%;
    position: absolute;
    z-index: 1;
}

.main-chat-content {
    z-index: 2;
    padding: var(--general-spacing) 0;
    background-color: var(--main-bg-color);
    display: flex;
    flex: 1;
    justify-content: flex-start;
    flex-direction: column;
}

.close-button-container {
    color: var(--gray-color);
    font-size: 1.5rem;
    width: 100%;
    display: flex;
    justify-content: flex-end;
    align-self: flex-start;
}

.close-button {
    color: var(--gray-color);
    font-size: 1.5rem;
    transform: rotate(45deg);
    user-select: none;
    transition: color .3s;
}

.close-button:hover {
    color: white;
}