.bot-item {
    border-radius: 12px;
    border: 2px solid var(--gray-color);
    display: flex;
    padding: 0 var(--general-spacing);
    align-items: center;
    justify-content: space-between;
    height: 45px;
    margin-bottom: 16px;
}

.bot-item > .button:hover {
    color: var(--white-color);
}

.label {
    color: var(--white-color);
    user-select: none;
    font-weight: bold;
}

.button {
    color: var(--red-color);
    transition: color .3s;
}