.chat {
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  margin-top: calc(var(--general-spacing) * 2.5);
  padding-left: var(--general-spacing);
  padding-right: var(--general-spacing);
  transition: margin-top .3s;
}

.chat-open-settings {
  margin-top: calc((var(--general-spacing) * 2.5) + var(--settings-menu-open));
}

.response-area-glow {
  
  overflow: hidden;
}

.response-area {
  overflow: scroll;
  height: 100%;
  display: flex;
  background-color: var(--main-bg-color);
  animation: rainbow-bg 4s linear;
	animation-iteration-count: infinite;
  border-radius: 8px;
}


.response-area-open-settings {
}

@keyframes rainbow-bg{
  100%,0%{
    box-shadow: 0 0 20px rgba(255,0,0, .89);
  }
  8%{
    box-shadow: 0 0 20px rgba(255,127,0, .89);
  }
  16%{
    box-shadow: 0 0 20px rgba(255,255,0, .89);
  }
  25%{
    box-shadow: 0 0 20px rgba(127,255,0, .89);
  }
  33%{
    box-shadow: 0 0 20px rgba(0,255,0, .89);
  }
  41%{
    box-shadow: 0 0 20px rgba(0,255,127, .89);
  }
  50%{
    box-shadow: 0 0 20px rgba(0,255,255, .89);
  }
  58%{
    box-shadow: 0 0 20px rgba(0,127,255, .89);
  }
  66%{
    box-shadow: 0 0 20px rgba(0,0,255, .89);
  }
  75%{
    box-shadow: 0 0 20px rgba(127,0,255, .89);
  }
  83%{
    box-shadow: 0 0 20px rgba(255,0,255, .89);
  }
  91%{
    box-shadow: 0 0 20px rgba(255,0,127, .89);
  }
}

@keyframes rainbow-bg-dim {
  0%{
    box-shadow: inherit;
  }
  100%{
    box-shadow: 0 0 20px rgba(255,127,0, 0);
  }
}


.response-area-glow {
  animation: rainbow-bg-dim .3s linear;
}




.response-text {

  overflow-y: scroll;
  padding: 20px;
}

.response-text-open-settings {
}

.inline-container {
  display: flex;
  width: 100%;
  margin-bottom: var(--general-spacing);
  margin-top: calc(var(--general-spacing) * 2);
}


.input-bar {
  display: flex;
  flex: 1;
  height: 60px
}

.input-bar:active:after {
  opacity: 1 !important;
}

.textarea {
  height: 60px;
  flex: 1;
  display: flex;
  width: 100%;
  padding: 10px;
  outline: none;
  background-color: transparent;
}

.send-prompt-button-container {
  border-radius: 30px;
  height: 60px;
  align-self: center;
  font-weight: 500;
  font-size: 22px;
  width: 150px;
  margin-left: var(--general-spacing);
  display: flex;
  align-items: center;
  justify-content: center;
}

.send-prompt-button {
  user-select: none;
}

.message {
  display: flex;
  gap: 8px;
  margin-bottom: 8px;
}

.sender-text {
  min-width: 100px;
}


.system {
  color: #3498DB;
}

.user {
  color: #9B59B6;

}

.assistant {
  color: #2ECC71;
}

