.chat {
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  margin-top: calc(var(--settings-menu-close));
  padding-left: var(--general-spacing);
  padding-right: var(--general-spacing);
  transition: margin-top .3s;
}

.chat-open-settings {
  margin-top: calc(var(--settings-menu-open) + 60px);
}

.response-area-glow {
  
  overflow: hidden;
}

.response-area {
  overflow: scroll;
  height: 100%;
  display: flex;
  background-color: var(--main-bg-color);
  animation: rainbow-bg 4s linear;
	animation-iteration-count: infinite;
  animation-play-state: running;
  animation-delay: 500ms;
  border-radius: 8px;
  transition: outline .3s;
  transition-delay: 400ms;
  outline: 0 solid var(--main-bg-color);
  opacity: 1;
}

.response-text-hidden {
  display: none;
}

.response-area-open-settings {
}

@keyframes rainbow-bg{
  100%,0%{
    box-shadow: 0 0 20px rgba(255,0,0, .89);
  }
  8%{
    box-shadow: 0 0 20px rgba(255,127,0, .89);
  }
  16%{
    box-shadow: 0 0 20px rgba(255,255,0, .89);
  }
  25%{
    box-shadow: 0 0 20px rgba(127,255,0, .89);
  }
  33%{
    box-shadow: 0 0 20px rgba(0,255,0, .89);
  }
  41%{
    box-shadow: 0 0 20px rgba(0,255,127, .89);
  }
  50%{
    box-shadow: 0 0 20px rgba(0,255,255, .89);
  }
  58%{
    box-shadow: 0 0 20px rgba(0,127,255, .89);
  }
  66%{
    box-shadow: 0 0 20px rgba(0,0,255, .89);
  }
  75%{
    box-shadow: 0 0 20px rgba(127,0,255, .89);
  }
  83%{
    box-shadow: 0 0 20px rgba(255,0,255, .89);
  }
  91%{
    box-shadow: 0 0 20px rgba(255,0,127, .89);
  }
}

@keyframes rainbow-bg-dim {
  0%{
    box-shadow: inherit;
  }
  100%{
    box-shadow: 0 0 20px rgba(255,127,0, 0) !important;
  }
}


.response-area-glow {
  animation-play-state: paused !important;
  box-shadow: none !important;
  outline: var(--general-spacing) solid var(--main-bg-color);
  transition-delay: 400ms;
}

.response-text {
  overflow-y: scroll;
  padding: 20px;
}

.response-text-open-settings {
}

.thread-button {
  /* background-color: red; */
  display: flex;
  height: 100%;
  width: 100%;
  flex: 1;
  align-items: center;
  justify-content: center;
  gap: var(--general-spacing);
  cursor: pointer;
  user-select: none;
}

.thread-image {
  height: 40px;
  width: 40px;
}

.thread-text {
  font-size: 18px;
  font-weight: 500;
  color: var(--white-color);
  user-select: none;
}

.inline-container {
  display: flex;
  width: 100%;
  margin-bottom: var(--general-spacing);
  margin-top: calc(var(--general-spacing) * 2);
}


.input-bar {
  display: flex;
  flex: 1;
  height: 60px
}

.input-bar:active:after {
  opacity: 1 !important;
}

.textarea {
  height: 60px;
  flex: 1;
  display: flex;
  width: 100%;
  padding: 10px;
  outline: none;
  background-color: transparent;
}

.send-prompt-button-container {
  border-radius: 30px;
  height: 60px;
  align-self: center;
  font-weight: 500;
  font-size: 22px;
  width: 150px;
  margin-left: var(--general-spacing);
  display: flex;
  align-items: center;
  justify-content: center;
}

.send-prompt-button {
  user-select: none;
}

.record-toggle-button-container {
  border-radius: 30px;
  height: 80px;
  align-self: center;
  font-weight: 300;
  font-size: 22px;
  /* width: 150px; */
  display: flex;
  flex: 1;
  margin-left: var(--general-spacing);
  display: flex;
  align-items: center;
  justify-content: center;
}

.message {
  display: flex;
  gap: 8px;
  margin-bottom: 8px;
  color: var(--white-color);
}

.sender-text {
  min-width: 100px;
  color: var(--primary-color);
}


.system {
  color: #3498DB;
}

.user {
  color: #9B59B6;

}

.assistant {
  color: #2ECC71;
}

