.settings-menu {
    position: absolute;
    height: var(--settings-menu-open);
    left: 0;
    right: 0;
    padding-left: var(--general-spacing);
    padding-right: var(--general-spacing);
    z-index: 100px;
}

.settings-menu-closed {
    height: var(--settings-menu-close);
}

.open-button-container {
    width: 100%;
    display: flex;
    justify-content: center;
    margin-top: calc(var(--general-spacing) / 2);    
}

.open-button {
    transition: transform .3s, opacity .3s;
}

.open-button--open {
    transform: rotate(180deg);
}

.open-button--hidden {
   opacity: 0;
}

.bots-list {
    height: 130px;
    border-radius: 8px;
    display: flex;
    gap: calc(var(--general-spacing) * 1.5);
    padding-top: var(--general-spacing);

}

.bot {
    width: 200px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    text-align: center;
    align-items: center;
    padding: var(--general-spacing) 0;
    user-select: none;
}

.glow-bot::after {
    opacity: .8;
}

.glow-bot:before {
    opacity: 1;
}

.bot-image {
    height: 45px;
    width: 45px;
    margin-bottom: var(--general-spacing);
    user-select: none;
}

.bot-description {
    color: var(--white-color);
    font-size: small;

}

.hidden-description {
    color: var(--white-color);
    font-size: small;

}