@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --foreground-rgb: 255, 255, 255;
  --background-start-rgb: 214, 219, 220;
  --background-end-rgb: 255, 255, 255;
}

@media (prefers-color-scheme: dark) {
  :root {
    --foreground-rgb: 255, 255, 255;
    --background-start-rgb: 0, 0, 0;
    --background-end-rgb: 0, 0, 0;
  }
}


h1 {
  font-weight: 600;
  margin-top: 10%;
}

.textarea {
  border: 1px grey solid;
  height: 200px;
  width: 300px;
  margin-top: 20px;
}

.button {
  background-color: blue;
  margin: 20px 0;
  width: 200px;
  border-radius: 12px;
  height: 40px;
  color: white;
}

.main-page {
  flex: 1;
  color: black;
  height: 100% !important;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  align-self: center;
}

.response-area {
  margin: 80px;
  border: 1px dashed black;
  padding: 20px;
}

.system {
  color: purple;
}

.user {
  color: blue;
}

.assistant {
  color: red;
}

.message {
  display: flex;
  gap: 8px;
}