.modal-background {
    position: absolute;
    left: 0;
    right: 0;
    bottom: 0;
    height: 100%;
    width: 100%;
    background-color: #000000ec;
    z-index: 99;
    opacity: 0;
    transition: all .3s;
    user-select: pointer;
    visibility: hidden;
}

.modal-background-open {
    opacity: 1;
    visibility: visible;
}

.sliding-container {
    z-index: 100;
    position: absolute;
    left: 0;
    right: 0;
    bottom: 0;
    height: 100%;
    width: 100%;
    display: flex;
    transform: translateY(100%);
    transition: all .3s;
    align-self: center;
    visibility: hidden;
}

.sliding-container-open {
    transform: translateY(0);
    visibility: visible;
}

.clickable-background {
    height: 100%;
    width: 100%;
    position: absolute;
    z-index: 1;
}

.settings-content {
    z-index: 2;
    padding: var(--general-spacing);
    background-color: var(--main-bg-color);
    border: 1px solid rgba(128, 128, 128, 0.58);
    margin: calc(var(--general-spacing) * 3);
    display: flex;
    flex: 1;
    justify-content: flex-start;
    border-radius: var(--general-spacing);
    box-shadow: 0 0 10px rgba(255,255,255, .3);
}

.close-button-container {
    color: gray;
    font-size: 1.5rem;
    width: 100%;
    display: flex;
    justify-content: flex-end;
    align-self: flex-start;
}

.close-button {
    color: gray;
    font-size: 1.5rem;
    transform: rotate(45deg);
    user-select: none;
}